.at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.box {
  padding: 9px 9px 12px;
}

.box:hover {
  cursor: pointer;
}

.card {
  padding: 9px 9px 12px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
  border: 1px solid #9b9b9b;
}

.card:hover {
  border-color: #067df7;
}

.card h3 {
  margin: 0;
  color: #067df7;
  font-size: 18px;
}

.card div {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

.entryRow {
  max-width: 880px;
  margin: 20px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frame {
  width: 100%;
  color: #333;
}

.label {
  font-weight: bold;
}

@keyframes Loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.object_display_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 18px 18px 24px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
}

.object_display_item h4 {
  margin: 0;
  color: #067df7;
  font-size: 72px;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: wrap;
}

.selection-correct {
  background-color: green;
}

.selection-correct-text {
  color: green;
}

.selection-wrong {
  background-color: red;
}

.selection-wrong-text {
  color: red;
}

.stats {
  padding-bottom: 70px;
}

.object_display_description {
  padding-bottom: 20px;
  text-align: center;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 1.15;
  font-size: 48px;
}

.title, .description, .stats, .selection-correct-text, .selection-wrong-text {
  text-align: center;
}

.value {
  font-weight: normal;
}
